body { background: #4ab771; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 53px; display: flex; }
.block-helper-0 { color: #a15773; font-size: 14px; margin-bottom: 5px; }
.block-invoice-1 { color: #eaf9d8; font-size: 14px; margin-bottom: 5px; }
.block-auth-2 { color: #8f9f50; font-size: 12px; margin-bottom: 5px; }
.block-uploader-3 { color: #2b34cb; font-size: 16px; margin-bottom: 5px; }
.block-email-4 { color: #d81488; font-size: 18px; margin-bottom: 5px; }
.block-database-5 { color: #8cf95e; font-size: 18px; margin-bottom: 5px; }
.block-user-6 { color: #2c74f3; font-size: 14px; margin-bottom: 5px; }
.block-invoice-7 { color: #6ffbde; font-size: 17px; margin-bottom: 5px; }